.statistics-tab .phase-navigator {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 206, 217, 0)), color-stop(0.01%, rgba(40, 206, 217, 0)), to(rgba(40, 206, 217, 0.7))), rgba(40, 206, 217, 0.3);
  background: linear-gradient(180deg, rgba(40, 206, 217, 0) 0%, rgba(40, 206, 217, 0) 0.01%, rgba(40, 206, 217, 0.7) 100%), rgba(40, 206, 217, 0.3);
  border-radius: 0px 0px 35px 35px;
  margin-bottom: 75px;
}

.statistics-tab .phase-navigator #currentPhase {
  font-family: Poppins;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: #1F3960;
  margin-bottom: 15px;
}

.statistics-tab .phase-navigator__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: -55px;
}

.statistics-tab .phase-navigator__menu li {
  list-style: none;
  border-radius: 0 0 50px 50px;
  z-index: 3;
}

.statistics-tab .phase-navigator__menu li button {
  height: 40px;
  width: 40px;
  border: 1px solid #D4E0EF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  color: #D4E0EF;
  margin: 5px;
  margin-top: 10px;
  background: white;
  border-radius: 50%;
}

.statistics-tab .phase-navigator__menu li .menu-background {
  content: '';
  width: 130px;
  height: 30px;
  left: -40px;
  top: 0;
  position: absolute;
  background: #55D8E1;
  z-index: -1;
  display: none;
}

.statistics-tab .phase-navigator__menu li.active {
  background: #55D8E1;
  position: relative;
  z-index: 2;
}

.statistics-tab .phase-navigator__menu li.active button {
  background: #5DD6DE;
  border-color: white;
  color: white;
}

.statistics-tab .phase-navigator__menu li.active .menu-background {
  display: block;
}

.statistics-tab .phase-navigator__menu li.active:after, .statistics-tab .phase-navigator__menu li.active:before {
  content: '';
  width: 40px;
  height: 30px;
  background: white;
  position: absolute;
  top: 0;
  z-index: 3;
}

.statistics-tab .phase-navigator__menu li.active:before {
  border-radius: 0px 30px 0px 0px;
  left: -40px;
}

.statistics-tab .phase-navigator__menu li.active:after {
  border-radius: 30px 0px 0px 0px;
  right: -40px;
}

.statistics-tab__phase-container {
  width: 100%;
}

.statistics-tab__phase-container .mode-toogler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 30px;
}

.statistics-tab__phase-container .mode-toogler button {
  padding: 12px 0;
  width: 50%;
  color: #D4E0EF;
  font-weight: 800;
  font-family: Poppins;
  font-size: 14px;
  text-align: center;
  border: 1px solid #D4E0EF;
}

.statistics-tab__phase-container .mode-toogler button:first-child {
  border-radius: 30px 0 0 30px;
}

.statistics-tab__phase-container .mode-toogler button:last-child {
  border-radius: 0 30px 30px 0;
}

.statistics-tab__phase-container .mode-toogler button.active {
  background: rgba(40, 206, 217, 0.2);
  color: #1F3960;
}
/*# sourceMappingURL=statistics.css.map */